BOT_TOKEN=
WEBHOOK_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
# Admin IDs (comma separated)
ADMIN_IDS=

# Payment Gateway (Midtrans)
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
ADMIN_TELEGRAM_ID=
